<!DOCTYPE html>
<html lang="en">

<%- include('./common/header') %>

    <body>
        <%- include('./common/navbar') %>
            <!-- font-awesome -->
            <!-- <i class="fa fa-car"></i> -->
            <!-- <i class="fa fa-car" style="font-size:48px;"></i> -->
            <i class="fa fa-car" style="font-size:60px;color:red;"></i>
            <i class="fa fa-brands fa-twitter-square" style="font-size:48px;"></i>
            <i class="fa fa-brands fa-twitter-square" style="font-size:48px;"></i>
            <i class="fa fa-brands fa-twitter-square" style="font-size:48px;"></i>

            <h1>Home</h1>
            <div class="container">
                <img src="images/svgimg.svg" alt="an image" class="w-25">
                <% if(blogs.length> 0) { %>
                    <% blogs.forEach(blog=>{ %>
                        <div class="card w-25">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%- blog.title %>
                                </h5>
                                <p class="card-text">
                                    <%- blog.content %>
                                </p>
                            </div>
                        </div>
                        <% }) %>
                            <% } %>
            </div>
            <%- include('./common/footer') %>
    </body>

</html>
